.card-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    top: 50%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.card {
    /* center of the screen no matter what */
    display: flex;
    flex-direction: row;
    width: 644px;
    height: 435px;

    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.card .left {
    width: 23.91%;
    height: 100%;
    background: url(./car.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px 0px 0px 8px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 76.09%;
    height: 100%;
}

.right .right-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* 490px */
    width: 100%;
    height: 88.28%;
    /* 384px */
    padding-left: 4.67%;
}

.right-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    /* 54px */
    height: auto;
    padding: 20px 20px 0 0;
}

.brand-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;

    width: 30%;
    height: auto;

    background: #2F5BEA;
    border-radius: 10px;
}

.brand-inner {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;

    color: #FFFFFF;
}

.title-date {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */

    margin: 8px 0 8px 0;

    color: #2F5BEA;
}

.title-name {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    /* identical to box height */

    letter-spacing: 0.7px;

    color: #1F2126;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 48px;
    padding-bottom: 16px;

    width: 87.5%;
    height: auto;
    border-bottom: 1px solid #D4D4D4;
}

.desc-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: auto;
    height: 50px;
}


.desc-block .block-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    /* identical to box height, or 208% */

    text-transform: uppercase;
    color: #74757C;
}

.block-content {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */

    color: #1F2126;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    width: 100%;
    height: 17.19%;
}

.car-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 24px 0 24px 0;

    color: #2F5BEA;
}

.arrow-container {
    background: url(./arrow-link.svg);
    margin-left: 4px;
    width: 9px;
    height: 10px;
    background-size: cover;
    background-position: center;
}

.bottom-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 11.72%;
}

.days-left {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: #2C2E30;
}

@media only screen and (max-width: 650px) {
    .card {
        width: 354px;
        height: 345px;
    }

    .brand-outer {
        width: 50%;
    }

    .brand-inner {
        font-size: 12px;
        line-height: 12px;
    }

    .right-top-bar {
        padding: 12px 12px 0 0;
    }

    .title-date {
        font-size: 14px;
        line-height: 14px;
    }

    .title-name {
        font-size: 22px;
        line-height: 22px;
    }

    .description {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 12px 0 12px 0;

        padding-bottom: 2px;
        width: 80%;
        height: auto;
    }

    .desc-block {
        width: 45%;
        margin-bottom: 6px;
    }

    .desc-block .block-title {
        font-size: 10px;
        line-height: 20px;
    }

    .status .desc-block {
        flex-direction: row;
        width: 100%;
    }

    .status .desc-block .block-title {
        width: 45%;
        padding-right: 20px;
    }

    .car-link {
        margin: 0 0 6px 0;
        /* zoom: 0.9; */
        font-size: 14px;
        line-height: 16px;;
    }

    .bottom-bar .days-left {
        font-size: 16px;
        line-height: 16px;
    }
}

@media only screen and (max-height: 400px) {
    .card {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    .brand-outer {
        width: 35%;
    }
}